:host,
.app {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;

    .app-top-nav {
        height: 80px;
        background-color: lightblue;
    }

    .app-container {
        overflow: auto;
        margin: 8px;
    }
}
