<div class="movies-filter">
    Filter by rating:
    <rating-filter [maxRange]="10" [defaultValue]="defaultRatingValue" (onChange)="filterMovies($event);"></rating-filter>
</div>
<div class="movies-container">
    <div *ngFor="let movie of displayMovies">
        <card [title]="movie.title" [genres]="movie.genres" [stars]="movie.stars" [posterUrl]="movie.imageUrl"></card>
    </div>
</div>