:host {
    width: 185px;
}

.card-container {
    width: 185px;
    margin: 20px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    
    .card-image-container {
        width: 100%;

        img {
            width: 100%;
            height: 278px;
        }
    }

    .card-title {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        height: 60px;
    }

    .card-genres {
        font-size: 14px;
        text-align: center;
        height: 40px;
    }

    .card-stars {
        text-align: center;
    }
}