<div class="card-container">
    <div class="card-image-container">
        <img src="{{imageBaseUrl}}{{posterUrl}}" alt="movie image" />
    </div>
    <div class="card-title">
        {{title}}
    </div>
    <div class="card-genres">
        <span *ngFor="let genre of genres; let last = last;">
            {{genre.name}}<span *ngIf="!last">,</span>
        </span>
    </div>
    <div class="card-stars">
        <rating [rating]="stars"></rating>
    </div>
</div>