<i class="material-icons md-18 star" *ngIf="isFull && !isEmpty">star</i>
<i class="material-icons md-18 star" *ngIf="!isFull && !isEmpty">star_half</i>
<i class="material-icons md-18 star" *ngIf="isEmpty">star_border</i>